#include "constant.h"

MAINMENU MENU 
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New", ID_NEWFILE
		MENUITEM "&Open..", ID_OPENFILE
		MENUITEM SEPARATOR
		MENUITEM "&Save", ID_SAVEFILE, GRAYED
		MENUITEM "Save &as..", ID_SAVEFILEAS, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "&Exit", ID_EXIT
	END

	POPUP "&Edit"
	BEGIN
		MENUITEM "Undo", ID_UNDO
		MENUITEM "Cu&t", ID_CUT
		MENUITEM "&Copy", ID_COPY
		MENUITEM "&Paste", ID_PASTE, GRAYED
		MENUITEM "C&lear", ID_CLEAR, GRAYED
	END

	POPUP "&Search"
	BEGIN
		MENUITEM "&Find..", ID_FIND
		MENUITEM "&Replace..", ID_REPLACE
		MENUITEM "Replace &again", ID_REREPLACE, INACTIVE
		MENUITEM SEPARATOR
		MENUITEM "&Go to line...", ID_GOTOLINE
		MENUITEM "&Next error", ID_GOTONEXT
		MENUITEM "&Previous error", ID_GOTOPREV
	END

	POPUP "&Project"
	BEGIN
		MENUITEM "&New", ID_NEWPROJ
		MENUITEM "&Open..", ID_OPENPROJ
		MENUITEM "&Close", ID_CLOSEPROJ, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "&Save", ID_SAVEPROJ, GRAYED
		MENUITEM "Save &as..", ID_SAVEPROJAS, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "&Add File..", ID_ADDFILE, GRAYED
		MENUITEM "&Remove File..", ID_REMOVEFILE, GRAYED
	END

	POPUP "&Compile"
	BEGIN
		MENUITEM "Define...", ID_DEFINENAME
		MENUITEM "Undefine...", ID_UNDEFINENAME, GRAYED
		MENUITEM "&Compile", ID_COMPILE, GRAYED
		MENUITEM "&Run", ID_RUN, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "&Export C++", ID_EXPORT, GRAYED
	END

	POPUP "&Options"
	BEGIN
		MENUITEM "&Edit Options...", ID_EDITOPT, GRAYED
		MENUITEM "&Save Options", ID_SAVEOPT, GRAYED
	END

	POPUP "&Help"
	BEGIN
		MENUITEM "&Contents", ID_CONTENTS, INACTIVE
		MENUITEM "&Search for Help on..", ID_HELPSEARCH, INACTIVE
		MENUITEM SEPARATOR
		MENUITEM "&About..", ID_ABOUT
	END

END

ABOUT_DIALOG DIALOG 108, 50, 142, 92
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About SDL*Design"
BEGIN
	CTEXT "SDL*Design v0.1", -1, 38, 14, 65, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "by Graham Wheeler", -1, 36, 31, 70, 8
	LTEXT "(c) 1994", -1, 50, 48, 41, 8
	DEFPUSHBUTTON "OK", 1, 59, 65, 24, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

DEFINE_DIALOG DIALOG 25, 18, 135, 62
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Define..."
BEGIN
	DEFPUSHBUTTON "OK", ID_OK, 25, 35, 30, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", ID_CANCEL, 73, 35, 30, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", ID_DEFINETEXT, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 13, 10, 107, 12
END

UNDEFINE_DIALOG DIALOG 19, 18, 187, 92
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Undefine..."
BEGIN
	DEFPUSHBUTTON "OK", ID_OK, 55, 65, 29, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", ID_CANCEL, 110, 65, 30, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "Name:", -1, 12, 10, 25, 8
	CONTROL "", ID_DEFINED, "LISTBOX", LBS_STANDARD | WS_CHILD | WS_VISIBLE, 40, 11, 130, 45
END

ID_WINDOWS MENU 
BEGIN
	MENUITEM "&Cascade", ID_CASCADE
	MENUITEM "&Tile", ID_TILE
	MENUITEM "&Arrange icons", ID_ARRANGE
	MENUITEM "&Close all", ID_CLOSEALL
	MENUITEM SEPARATOR
	MENUITEM "&Message", ID_MESSAGE, GRAYED
	MENUITEM "&Project", ID_PROJECT, GRAYED
END
